body {}
h1#subhead {
font-size: 20px;
text-align: center;
}

img#logo {
margin: 0 auto;
display: block;
}

footer {
width: 290px!important;
}

div#content {
margin: 10% 0 0 0;
}

div#shelf {
min-height:100px
}

div#nav {
position:relative;
height: 200px;
width: 100%;
 }

div#nav:before {
content: "";
position: absolute;
height:1px;
left: 12.5%;
width:75%;
border-top: 1px #E5E5E5 solid;
}

div.nav-choice{
position: relative;
float: left;
width: 25%;
padding: 20px 0 0 0;
text-align: center;
 }

p.nav-choice { font-size:30px;
font-weight: bold; }
